.Banner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Banner-container {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: 10% 80% 10%;
  width: 1440px;
  padding: 0 24px;
}

.Banner-container button {
  border: none;
  padding: 0;
  background-color: white;
  cursor: pointer;
}

.Banner-prev svg,
.Banner-next svg {
  width: 48px;
  height: 48px;
  color: black;
}

.Banner-img {
  width: 100%;
}

@media all and (min-width: 281px) and (max-width: 432px) {
  .Banner-container {
    width: 100%;
    padding: 0 8px;
  }

  .Banner-prev svg,
  .Banner-next svg {
    width: 24px;
    height: 24px;
  }
}
