.Banner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Banner-container {
  width: 1440px;
}

.Banner-box {
  padding: 0 24px;
}

.dots-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: burlywood;
  border: none;
  cursor: pointer;
}

.dot.active {
  background-color: black;
}

.Banner-img {
  width: 100%;
  height: 600px;
}

@media all and (min-width: 281px) and (max-width: 432px) {
  .Banner-container {
    width: 100%;
  }

  .Banner-box {
    padding: 0 8px;
  }

  .Banner-img {
    height: 300px;
  }
}
