.Banner {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 8px;
}

.Banner-container {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: 10% 80% 10%;
  width: 1440px;
  height: 500px;
}

.Banner-container button {
  border: none;
  padding: 0;
  background-color: white;
  cursor: pointer;
}

.Banner-container svg {
  width: 50px;
  height: 50px;
}
