.BestItem {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px 0 100px 0;
  padding: 0 8px;
}

.BestItem h1 {
  text-align: center;
}

.BestItem-container {
  width: 1440px;
}

.BestItem-area {
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-area {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0 24px;
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.item-area li {
  border: 1px solid black;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
}
