.BestItem {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 48px 0 24px 0;
}

.BestItem h1 {
  text-align: center;
  font-family: "Do Hyeon", sans-serif;
}

.BestItem-container {
  width: 1440px;
}

.BestItem-container h1 {
  margin: 0 0 16px 0;
}

.BestItem-box {
  padding: 0 24px;
}

.BestItem-area {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  gap: 0 24px;
}

.Item-area {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Item-area-img {
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

@media all and (min-width: 281px) and (max-width: 432px) {
  .BestItem {
    margin: 16px 0 0 0;
  }

  .BestItem-box {
    padding: 0 8px 16px 8px;
  }

  .BestItem-area {
    gap: 0 8px;
  }

  .Item-area {
    gap: 0 8px;
  }

  .Item-area-img {
    border-radius: 20px;
    /* height: 80px; */
  }
}
