.BigImg {
  display: inline-block;
  margin: 100px 0 0 0;
  width: 100%;
}

.BigImg-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
}

.BigImg-1,
.BigImg-2 {
  border: 1px solid black;
  width: 500px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}
