.BigImg {
  display: inline-block;
  margin: 100px 0 0 0;
  width: 100%;
}

.BigImg-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  width: 100%;
  gap: 0 80px;
}

.BigImg-1,
.BigImg-2 {
  border: 1px solid black;
  border-radius: 50px;
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}
