.BigImg {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 24px 0 0 0;
}

.BigImg-container {
  width: 1440px;
}

.BigImg-box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
  padding: 0 24px;
  gap: 0 32px;
}

.BigImg-1,
.BigImg-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  cursor: pointer;
}

.BigImg-1 img,
.BigImg-2 img {
  width: 100%;
  height: 60%;
  border-radius: 10px;
}

@media all and (min-width: 281px) and (max-width: 432px) {
  .BigImg {
    margin: 16px 0 0 0;
  }

  .BigImg-container {
    width: 100%;
  }

  .BigImg-box {
    padding: 0 8px;
    gap: 0 8px;
  }

  .BigImg-1 img,
  .BigImg-2 img {
    width: 100%;
    height: 200px;
  }
}
