.Cart {
  background-color: white;
  font-family: "Do Hyeon", sans-serif;
  min-height: calc(100vh - 300px);
}

.Cart-container {
  width: 1440px;
  min-height: 200px;
  margin: 0 auto 24px auto;
}

.Cart-Logo {
  width: 40px;
  height: 40px;
}

.Cart-Logo-title {
  font-size: 1rem;
}

.Cart-title {
  margin-bottom: 0;
  font-size: 300%;
  padding-left: 24px;
}

.Cart-list {
  padding: 0 24px;
}

.Cart-form {
  display: flex;
  align-items: stretch;
  margin-bottom: 16px;
}

.Cart-form label {
  font-size: 24px;
}

.Cart-empty {
  padding-left: 24px;
  padding-bottom: 16px;
}

.Cart-area {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 8px 0;
}

.Cart-all-input,
.Cart-area-input {
  width: 1.5rem;
  height: 1.5rem;
  margin: 0 8px 0 0;
  box-sizing: border-box;
}

.Cart-area-first {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.Cart-area-second {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.Cart-img {
  width: 96px;
  height: 96px;
  border: 1px solid black;
}

.Cart-area-title {
  margin: 0 0 0 8px;
  font-size: 120%;
}

.Cart-area-third {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 80px;
}

.Cart-area-price {
  margin: 0;
  font-size: 120%;
}

.Cart-remove {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 8px;
}

.Cart-remove svg {
  width: 24px;
  height: 24px;
}
.Cart-All-Price,
.Cart-button-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  /* padding: 0 24px; */
}

.Cart-All-Price {
  font-size: 120%;
}

.Cart-button-container {
  gap: 8px;
}

.Cart-All-button,
.Cart-Select-button {
  padding: 10px 20px;
  font-size: 18px;
  font-family: "Do Hyeon", sans-serif;
  border: 1px solid gainsboro;
  border-radius: 4px;
  color: black;
  cursor: pointer;
}

.Cart-All-button:hover,
.Cart-Select-button:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

@media all and (min-width: 281px) and (max-width: 432px) {
  .Cart-container {
    width: 100%;
  }

  .Cart-nav {
    padding: 8px 8px;
  }

  .Cart-title {
    padding: 0 8px;
    margin-top: 8px;
  }

  .Cart-list {
    padding: 0 8px;
  }

  .Cart-empty {
    padding-left: 8px;
  }

  .Cart-img {
    width: 64px;
    height: 64px;
  }

  .Cart-area-title {
    width: 55%;
  }

  .Cart-All-Price,
  .Cart-button-container {
    padding: 0 8px;
  }
}

@media all and (min-width: 440px) and (max-width: 1400px) {
  .Cart-container {
    width: 100%;
  }

  .Cart-nav,
  .Cart-title,
  .Cart-list,
  .Cart-All-Price,
  .Cart-button-container {
    padding: 0 24px;
  }
}
