.CategoryDetail {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 16px 24px;
  position: relative;
  font-family: "Do Hyeon", sans-serif;
}

.CategoryDetail-container {
  width: 1440px;
}

.CategoryDetail-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 8px 0 16px 0;
}

.CategoryDetail-top p {
  padding: 8px 16px;
  margin: 0;
  color: white;
}

.CategoryDetail-top-title {
  margin: 0;
}

.BackButton {
  padding: 8px 16px;
  font-size: 16px;
  font-family: "Do Hyeon", sans-serif;
  color: black;
  background-color: white;
  border: 1px solid #ccc;
  cursor: pointer;
}

.BackButton:hover {
  background-color: black;
  color: white;
}

.DeliveryInfo h3,
.DetailPage-TabContent h3,
.DetailPage-TabContent p {
  margin: 0 0 16px 0;
}

.CategoryDetail-middle {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 48px;
}

.CategoryDetail-middle-content {
  display: flex;
  flex-direction: column;
}

.CategoryDetail-img {
  width: 100%;
  height: auto;
}

.CategoryDetail-img-title {
  margin: 0 0 8px 0;
}

.DeliveryInfo {
  margin: 6px 0;
}

.DeliveryInfo {
  text-align: left;
  padding: 10px 0;
}

.DeliveryInfo th {
  width: 60px;
  padding: 7px 5px 6px 0;
  text-align: left;
}

.DeliveryInfo td {
  padding: 7px 6px 8px 0;
}

.CategoryDetail-Popup {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  width: 300px;
  padding: 16px 24px;
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.CategoryDetail-Popup button {
  margin: 10px;
  padding: 10px 20px;
  background-color: black;
  color: white;
  font-family: "Do Hyeon", sans-serif;
  border-radius: 10px;
}

.DetailPage-Tabs {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 8px;
}

.DetailPage-Tabs button {
  padding: 10px 20px;
  margin: 0;
  border: 1px solid #ccc;
  background-color: white;
  color: black;
  font-family: "Do Hyeon", sans-serif;
  font-size: 16px;
  cursor: pointer;
}

.DetailPage-Tabs button.active {
  background-color: black;
  color: white;
  font-weight: bold;
}

.DetailPage-TabContent {
  text-align: left;
}

hr {
  margin: 16px 0;
  border: 1px solid #ccc;
}

.Flavor-Pentagon {
  width: 300px;
  height: 300px;
}

@media all and (max-width: 432px) {
  .CategoryDetail {
    padding: 16px 8px;
  }

  .BackButton {
    left: 8px;
  }

  .CategoryDetail-middle {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }

  .CategoryDetail-img {
    width: 300px;
    height: auto;
  }

  .CategoryDetail-img-title,
  .CategoryDetail-img-price {
    margin: 0;
  }

  .DeliveryInfo {
    margin: 0;
  }

  .DetailPage-Tabs {
    gap: 4px;
  }

  .DetailPage-Tabs button {
    padding: 8px 0;
    font-size: 12px;
  }
}
