.CategoryPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  width: 100%;
  min-height: calc(100vh - 389px);
}

.CategoryPage-title {
  text-align: center;
  font-family: "Do Hyeon", sans-serif;
}

.CategoryPage-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1440px;
}

.CategoryPage-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  padding: 0 24px;
  gap: 0 24px;
  padding-bottom: 24px;
}

.CategoryPage-area {
  display: flex;
  flex-direction: column;
  font-family: "Do Hyeon", sans-serif;
  margin-bottom: 24px;
  padding-top: 8px;
  width: 100%;
  min-height: 400px;
}

.CategoryPage-img {
  width: 100%;
  border-radius: 10px;
}

.CategoryPage-content {
  padding: 0;
}

.CategoryPage-content h3,
.CategoryPage-content p {
  margin: 8px 0;
}

.Basket-Button {
  border: 1px solid black;
  border-radius: 10px;
  background-color: black;
  color: white;
  text-align: center;
  padding: 8px 16px;
  margin-top: 8px;
  cursor: pointer;
}

.Detail-Button {
  border: 1px solid black;
  border-radius: 10px;
  background-color: white;
  text-align: center;
  padding: 8px 16px;
  margin-top: 8px;
  cursor: pointer;
}

.Detail-Button a {
  color: black;
  text-decoration: none;
}

@media all and (min-width: 281px) and (max-width: 432px) {
  .CategoryPage-title {
    margin: 24px 0;
  }

  .CategoryPage-box {
    width: 100%;
  }

  .CategoryPage-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
    padding: 0 8px 8px 8px;
  }

  .CategoryPage-area {
    width: 100%;
    min-height: 300px;
    padding-bottom: 8px;
    margin: 0;
  }
}

@media all and (min-width: 700px) and (max-width: 1400px) {
  .CategoryPage-box {
    width: 100%;
  }
}
