.CategoryDetail {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 16px 24px;
  position: relative;
  font-family: "Do Hyeon", sans-serif;
}

.CategoryDetail-container {
  width: 1440px;
}

.CategoryDetail-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 8px 0 16px 0;
}

.CategoryDetail-top p {
  padding: 8px 16px;
  margin: 0;
  color: white;
}

.CategoryDetail-top-title {
  margin: 0;
}

.BackButton {
  padding: 8px 16px;
  font-size: 16px;
  font-family: "Do Hyeon", sans-serif;
  color: black;
  background-color: white;
  border: 1px solid #ccc;
  cursor: pointer;
}

.BackButton:hover {
  background-color: black;
  color: white;
}

.CategoryDetail-img-title,
.CategoryDetail-img-price,
.DeliveryInfo h3,
.DeliveryInfo p,
.DetailPage-TabContent h3,
.DetailPage-TabContent p {
  margin: 0 0 16px 0;
}

.CategoryDetail-img {
  width: 300px;
  height: auto;
  margin-bottom: 16px;
}

.DeliveryInfo {
  text-align: left;
  padding: 10px;
  border: 1px solid #ddd;
  background-color: #f9f9f9;
}

.DetailPage-Tabs {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 8px;
}

.DetailPage-Tabs button {
  padding: 10px 20px;
  margin: 0;
  border: 1px solid #ccc;
  background-color: white;
  color: black;
  font-family: "Do Hyeon", sans-serif;
  font-size: 16px;
  cursor: pointer;
}

.DetailPage-Tabs button.active {
  background-color: black;
  color: white;
  font-weight: bold;
}

.DetailPage-TabContent {
  text-align: left;
}

hr {
  margin: 16px 0;
  border: 1px solid #ccc;
}

.Flavor-Pentagon {
  width: 300px;
  height: 300px;
}

@media all and (max-width: 432px) {
  .CategoryDetail {
    padding: 16px 8px;
  }

  .BackButton {
    left: 8px;
  }

  .DetailPage-Tabs {
    gap: 4px;
  }

  .DetailPage-Tabs button {
    padding: 8px 0;
    font-size: 12px;
  }
}
