.DripBag {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 100%;
  min-height: 500px;
}

.DripBag-title {
  text-align: center;
  font-family: "Do Hyeon", sans-serif;
}

.DripBag-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 95%;
}

.DripBag-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  width: 100%;
  gap: 0 24px;
  padding-bottom: 24px;
}

.DripBag-area {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  font-family: "Do Hyeon", sans-serif;
  margin-bottom: 24px;
  width: 100%;
}

.DripBag-img {
  width: 100%;
}

.DripBag-content {
  padding: 0 8px;
}

.DripBag-content h3,
.DripBag-content p {
  margin: 8px 0;
}

@media all and (min-width: 281px) and (max-width: 432px) {
  .DripBag-title {
    margin: 24px 0;
  }

  .DripBag-box {
    width: 100%;
  }

  .DripBag-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 16px 0;
  }

  .DripBag-area {
    width: 95%;
    padding-bottom: 8px;
  }
}
