.DripBag {
  background-color: white;
}

.DripBag-title {
  text-align: center;
  font-family: "Do Hyeon", sans-serif;
}

.DripBag-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  width: 100%;
  padding-bottom: 24px;
}

.DripBag-area {
  border: 1px solid black;
  font-family: "Do Hyeon", sans-serif;
  margin-bottom: 24px;
}

.DripBag-img {
  width: 300px;
  height: 300px;
}

.DripBag-content {
  padding: 0 8px;
  margin-bottom: 8px;
}

.DripBag-content h3,
.DripBag-content p {
  margin: 8px 0;
}

@media all and (min-width: 281px) and (max-width: 432px) {
  .DripBag-title {
    margin: 24px 0;
  }

  .DripBag-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
