.FindPwPage {
  height: 560px;
  background-color: white;
}

.FindPwPage-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 400px;
  margin: 152px auto;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.FindPwPage-title {
  margin: 0;
}

.FindPwPage-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.FindPwPage-label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0;
  width: 60%;
}

.FindPwPage-label p {
  margin: 0 24px 0 0;
  font-size: 16px;
}

.FindPwPage-input {
  height: 32px;
  box-sizing: border-box;
}

.FindPwPage-button {
  padding: 8px 0;
  width: 60%;
  height: 40px;
  font-size: 16px;
}
