.FindPw {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background-color: white;
}

.FindPwPage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.FindPwPage-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
  margin: 10% auto;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.FindPwPage-title {
  margin: 0;
  font-family: "Do Hyeon", sans-serif;
}

.FindPwPage-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
}

.FindPwPage-label {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 24px 0 8px 0;
  width: 100%;
}

.FindPwPage-input {
  width: 100%;
  height: 32px;
  box-sizing: border-box;
}

.FindPwPage-input:nth-child(4) {
  margin-bottom: 24px;
}

.FindPwPage-button {
  padding: 8px 0;
  width: 100%;
  height: 40px;
  font-size: 16px;
  background-color: black;
  color: white;
  cursor: pointer;
}
