.FindPw {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  min-height: 700px;
  background-color: white;
}

.FindPw-container {
  width: 1440px;
}

.FindPwPage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.FindPwPage-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
  margin: 10% auto;
  padding: 1rem;
  border: 10px double black;
  border-radius: 4px;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.FindPwPage-title {
  margin: 0;
  font-family: "Do Hyeon", sans-serif;
}

.FindPwPage-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
}

.FindPwPage-label {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 24px 0 8px 0;
  width: 100%;
  font-family: "Do Hyeon", sans-serif;
}

.FindPwPage-input {
  width: 100%;
  height: 32px;
  box-sizing: border-box;
  border-color: black;
}

.FindPwPage-input:nth-child(4) {
  margin-bottom: 24px;
}

.FindPwPage-button {
  padding: 8px 0;
  width: 100%;
  height: 40px;
  font-size: 16px;
  font-family: "Do Hyeon", sans-serif;
  background-color: black;
  color: white;
  cursor: pointer;
}

@media all and (max-width: 432px) {
  .FindPw-container {
    width: 100%;
  }

  .FindPwPage-container {
    width: 80%;
  }

  .FindPwPage-form {
    width: 70%;
  }
}

@media all and (min-width: 650px) and (max-width: 1200px) {
  .FindPw-container {
    width: 100%;
  }
}
