.find-id {
  width: 100%;
  height: 720px;
  background-color: white;
}

.find-id-page {
  max-width: 400px;
  margin: 40px auto;
  padding: 1rem;
  margin: 10% auto;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.find-id-page h2 {
  text-align: center;
  margin-bottom: 1rem;
  font-family: "Do Hyeon", sans-serif;
}

.find-id-page form {
  display: flex;
  flex-direction: column;
}

.find-id-page label {
  margin-bottom: 0.5rem;
  font-weight: bold;
  font-family: "Do Hyeon", sans-serif;
}

.find-id-page select,
.find-id-page input {
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.find-id-page button {
  padding: 0.5rem;
  border: none;
  border-radius: 4px;
  background-color: black;
  color: white;
  font-family: "Do Hyeon", sans-serif;
  cursor: pointer;
}

.find-id-page p {
  text-align: center;
  margin-top: 1rem;
  color: #ff0000;
}

.contact-option {
  display: flex;
  align-items: center;
}

.contact-option label {
  margin-left: 0.5rem;
  margin-right: 1rem;
}
