.Find-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 8px;
  font-family: "Do Hyeon", sans-serif;
}

.Find-nav-logo-img {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.Find-nav-logo-img h4 {
  margin-left: 8px;
}

.Find-nav-logo-img,
.Find-nav-home {
  text-decoration: none;
  color: black;
}
