.Footer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  width: 100%;
  font-family: "Do Hyeon", sans-serif;
}

.Footer-container {
  width: 1440px;
}

.Footer-container h1 {
  margin: 16px 0;
}

.Footer-info-1,
.Footer-info-2,
.Footer-info-3 {
  /* border: 1px solid black; */
  list-style-type: none;
  margin-top: 8px;
  margin-bottom: 8px;
  padding: 0;
  width: 100%;
}

.Footer-info-1 {
  display: flex;
  align-items: center;
  padding: 0;
}

.Footer-info-1 li {
  display: inline-block;
  padding: 0 8px;
  border-right: 2px solid gray;
}

.Footer-info-1 li:first-child {
  padding-left: 0;
}

.Footer-info-2 li,
.Footer-info-3 li {
  margin-bottom: 8px;
}

.Footer-info-2 li:last-child {
  margin-bottom: 0;
}

@media all and (min-width: 281px) and (max-width: 432px) {
  .Footer-container {
    width: 100%;
  }

  .Footer-box {
    padding: 0 8px;
  }

  .Footer-container h1 {
    font-size: 24px;
  }

  .Footer-info-1 li {
    font-size: 10px;
    padding: 0 16px;
  }

  .Footer-info-2 li {
    font-size: 10px;
  }

  .Footer-info-3 li {
    font-size: 10px;
  }

  .Copyright {
    font-size: 10px;
  }
}

@media all and (min-width: 650px) and (max-width: 1400px) {
  .Footer-container {
    width: 100%;
  }

  .Footer-box {
    padding: 0 24px;
  }
}
