.HandDrip {
  background-color: white;
}

.HandDrip-title {
  text-align: center;
  font-family: "Do Hyeon", sans-serif;
}

.HandDrip-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  width: 100%;
  padding-bottom: 24px;
}

.HandDrip-area {
  border: 1px solid black;
  font-family: "Do Hyeon", sans-serif;
  margin-bottom: 24px;
}

.HandDrip-img {
  width: 300px;
  height: 300px;
}

.HandDrip-content {
  padding: 0 8px;
  white-space: pre-line;
}

@media all and (min-width: 281px) and (max-width: 432px) {
  .HandDrip-title {
    margin: 24px 0;
  }

  .HandDrip-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
