.HandDrip {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 100%;
  min-height: 500px;
}

.HandDrip-title {
  text-align: center;
  font-family: "Do Hyeon", sans-serif;
}

.HandDrip-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 95%;
}

.HandDrip-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  /* width: 100%; */
  gap: 0 24px;
  padding-bottom: 24px;
}

.HandDrip-area {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  font-family: "Do Hyeon", sans-serif;
  margin-bottom: 24px;
  padding-top: 8px;
  width: 100%;
  min-height: 400px;
}

.HandDrip-img {
  width: 100%;
}

.HandDrip-content {
  padding: 0 8px;
  margin-bottom: 8px;
  white-space: pre-line;
}

.HandDrip-content h3,
.HandDrip-content p {
  margin: 8px 0;
}

@media all and (min-width: 281px) and (max-width: 432px) {
  .HandDrip-title {
    margin: 24px 0;
  }

  .HandDrip-box {
    width: 100%;
  }

  .HandDrip-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 8px 0;
    margin: 0 8px;
  }

  .HandDrip-area {
    width: 95%;
    padding-bottom: 8px;
    margin: 0;
  }
}
