.HandDrip {
  background-color: white;
}

.HandDrip-title {
  text-align: center;
  font-family: "Do Hyeon", sans-serif;
}

.HandDrip-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.HandDrip-area {
  border: 1px solid black;
  font-family: "Do Hyeon", sans-serif;
}
