.spinner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* 화면 전체 중앙에 위치시키기 위해 사용 */
}

.spinner {
  border: 16px solid #f3f3f3; /* 테두리 */
  border-top: 16px solid #3498db; /* 애니메이션이 돌 부분 */
  border-radius: 50%; /* 원형 */
  width: 120px; /* 스피너 크기 */
  height: 120px;
  animation: spin 2s linear infinite; /* 회전 애니메이션 */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
