.LoginForm-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: white;
}

.LoginForm-logo {
  width: 200px;
  height: 200px;
  border: 1px solid black;
  border-radius: 20px;
}

.LoginForm-title-1 {
  margin: 8px 0;
  font-family: "Danfo", serif;
  font-size: 40px;
}

.LoginForm-form {
  display: flex;
  flex-direction: column;
  width: 320px;
}

.LoginForm-input {
  margin: 8px 0;
  padding: 8px;
  font-size: 16px;
}

.LoginForm-error {
  font-size: 16px;
  color: red;
}

.LoginForm-submit {
  margin: 8px 0;
  padding: 8px;
  font-family: "Do Hyeon", sans-serif;
  font-size: 16px;
  background-color: black;
  color: white;
  cursor: pointer;
}

.LoginForm-Search {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.LoginForm-search-id,
.LoginForm-search-pw,
.LoginForm-sign {
  font-size: 14px;
  color: black;
  text-decoration: none;
}

.LoginForm-search-id:hover,
.LoginForm-search-pw:hover,
.LoginForm-sign:hover {
  text-decoration: underline;
}

@media all and (min-width: 280px) and (max-width: 432px) {
  .LoginForm-form {
    width: 60%;
  }
}
