.myPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.myPage-container {
  width: 1440px;
}

.myPage-box {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-areas: "sidebar page-content";
  gap: 24px;
  padding: 16px 0;
}

.myPage-sidebar {
  background-color: rgb(255, 228, 185);
  border-radius: 20px;
  padding: 20px;
  grid-area: sidebar;
}

.myPage-sidebar h3 {
  margin-top: 20px;
  font-size: 18px;
}

.myPage-sidebar ul {
  list-style: none;
  padding: 0;
}

.myPage-sidebar li {
  margin: 10px 0;
  cursor: pointer;
  padding: 8px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.myPage-sidebar li:hover {
  background-color: #e0e0e0;
}

.myPage-content {
  padding: 20px;
  background-color: rgb(255, 228, 185);
  border-radius: 20px;
  grid-area: page-content;
}

@media all and (max-width: 432px) {
  .myPage-container {
    width: 100%;
  }

  .myPage-box {
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas:
      "page-content"
      "sidebar";
    padding: 16px 8px;
  }
}

@media all and (min-width: 500px) and (max-width: 1200px) {
  .myPage-container {
    width: 100%;
  }
  .myPage-box {
    padding: 16px 24px;
  }
}
