.nav-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.nav-logo-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  cursor: pointer;
}

.nav-login {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  width: 160px;
  padding: 0;
  margin: 0;
}

.nav-middle {
  height: 200px;
}

.nav-logo {
  color: black;
  text-decoration: none;
}

.nav-logo h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Danfo", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 70px;
  font-style: normal;
  font-variation-settings: "ELSH" 0;
  margin-top: 0;
  margin-bottom: 20px;
}

.nav-item {
  width: 100%;
}

.nav-list {
  display: flex;
  justify-content: center;
  list-style-type: none;
  width: 100%;
  padding: 0;
}

.nav-list li {
  margin-left: 24px;
  margin-right: 24px;
  font-family: "Do Hyeon", sans-serif;
  font-weight: 400;
  font-size: 24px;
  font-style: normal;
  cursor: pointer;
}

.nav-list li:last-child {
  margin-right: 10px;
}
