.NaviBar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 0 0 0;
  background-color: white;
  width: 100%;
}

.nav-area {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 95%;
}

.nav-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.nav-logo-img {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.nav-guest {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  width: 100px;
  padding: 0 8px 0 0;
  margin: 0;
}

.Shopping-cart,
.nav-login {
  color: black;
  cursor: pointer;
}

.Shopping-cart svg,
.nav-login svg {
  width: 40px;
  height: 40px;
}

.Shopping-cart {
  display: flex;
}

.Shopping-cart-length {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  border-radius: 50%;
  background-color: black;
  color: white;
  font-size: 0.8rem;
  font-weight: 900;
  width: 24px;
  height: 24px;
  top: 1.3rem;
}

.nav-middle {
  display: grid;
  align-items: center;
  justify-items: center;
  width: 100%;
  height: 200px;
}

.nav-logo {
  color: black;
  text-decoration: none;
}

.nav-logo h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Danfo", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 70px;
  font-style: normal;
  font-variation-settings: "ELSH" 0;
  margin-top: 0;
  margin-bottom: 20px;
}

.nav-item {
  width: 100%;
}

.nav-list {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  width: 100%;
  padding: 0;
}

.nav-link {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.nav-link:hover {
  color: rgba(0, 0, 0, 0.5);
}

.nav-list li {
  /* margin-left: 24px;
  margin-right: 24px; */
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Do Hyeon", sans-serif;
  font-weight: 400;
  font-size: 32px;
  /* width: 112px; */
  font-style: normal;
  cursor: pointer;
}

/* .nav-list li:last-child {
  margin-right: 10px;
} */

@media all and (min-width: 281px) and (max-width: 432px) {
  .nav-area {
    padding: 0 8px;
  }

  .nav-middle {
    height: 160px;
  }

  .nav-logo h1 {
    font-size: 40px;
    margin: 0;
  }

  .nav-guest {
    justify-content: space-evenly;
  }

  .nav-list li {
    /* width: 80px; */
    font-size: 24px;
  }
}
