.PrivacyPolicy {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  padding: 0 24px 24px 24px;
  min-height: 700px;
}

.Privacy-Container {
  border: 2px solid black;
  margin: 16px 0;
  padding: 0 16px;
  height: 500px;
  overflow: auto;
}

.Privacy-Container li {
  list-style-type: upper-roman;
}

.Privacy-CheckBox {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
}

.Privacy-CheckBox input {
  margin-right: 8px;
}

.Privacy-Next-Button {
  text-decoration: none;
  cursor: pointer;
  background-color: black;
  color: white;
  padding: 8px 24px;
  text-align: center;
  font-family: "Do Hyeon", sans-serif;
}

@media all and (max-width: 432px) {
  .PrivacyPolicy {
    padding: 0 8px 16px 8px;
  }
}
