.Products {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  min-height: 500px;
}

.Products-title {
  text-align: center;
  font-family: "Do Hyeon", sans-serif;
}

.Products-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1440px;
}

.Products-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  width: 100%;
  gap: 0 24px;
  padding-bottom: 24px;
}

.Products-area {
  border: 1px solid black;
  font-family: "Do Hyeon", sans-serif;
  margin-bottom: 24px;
  width: 100%;
  min-height: 400px;
}

.Products-img {
  width: 100%;
  height: 70%;
}

.Products-content {
  padding: 0 8px;
  margin-bottom: 8px;
  white-space: pre-line;
}

.Products-content h3,
.Products-content p {
  margin: 8px 0;
}

@media all and (min-width: 281px) and (max-width: 432px) {
  .Products-title {
    margin: 24px 0;
  }

  .Products-box {
    width: 100%;
  }

  .Products-container {
    grid-template-columns: repeat(1, 1fr);
    gap: 16px 0;
  }

  .Products-area {
    width: 85%;
    min-height: 300px;
    padding-bottom: 8px;
  }
}
