.Purchase {
  width: 100%;
}

.Purchase-container {
  width: 1440px;
  margin: 0 auto;
  padding: 20px;
}

.Purchase h1,
.Purchase h2 {
  text-align: left;
  color: #333;
}

.Purchase-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.Purchase-table th,
.Purchase-table td {
  border: 1px solid gray;
  padding: 8px;
  text-align: left;
}

.Purchase-table th {
  background-color: black;
  color: white;
}

.member-form,
.shipping-form,
.payment-form {
  display: flex;
  flex-direction: column;
}

.member-form div,
.shipping-form div,
.payment-form div {
  margin-bottom: 10px;
}

.member-form label,
.shipping-form label,
.payment-form label {
  margin-bottom: 5px;
  font-weight: bold;
}

.member-form input,
.shipping-form input,
.payment-form input,
.shipping-form select {
  padding: 8px;
  margin-left: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.tab-content select {
  width: 15%;
  padding: 10px;
  margin-left: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.tabs button {
  padding: 10px;
  margin-right: 10px;
  cursor: pointer;
}

.tabs .active {
  background-color: #4caf50;
  color: white;
}

.tab-content {
  margin-top: 20px;
}

.Purchase-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.back-button,
.Purchase-button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.back-button {
  background-color: #f2f2f2;
}

.Purchase-button {
  background-color: #4caf50;
  color: white;
}

@media all and (max-width: 432px) {
  .Purchase-container {
    width: 96%;
    margin: 0 8px;
    padding: 0;
  }

  .tab-content select {
    width: 50%;
  }
}
