.Purchase {
  width: 100%;
}

.Purchase-container {
  width: 1440px;
  margin: 0 auto;
}

.Purchase h1,
.Purchase h2 {
  text-align: left;
  color: #333;
}

.Purchase-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.Purchase-table th,
.Purchase-table td {
  border: 1px solid gray;
  padding: 8px;
  text-align: left;
}

.Purchase-table th {
  background-color: black;
  color: white;
}

.Coupon-selection select {
  padding: 8px;
  margin-left: 0;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.Shipping-form {
  display: flex;
  flex-direction: column;
}

.Shipping-form div {
  margin-bottom: 10px;
}

.Sipping-Request-box {
  display: flex;
  flex-direction: column;
  margin: 8px 0;
  width: 40%;
}

.Coupon-selection select,
.Sipping-Request-box select,
.tabs button,
.tab-area select,
.back-button,
.Purchase-button {
  color: black;
  font-family: "Do Hyeon", sans-serif;
}

.Sipping-Request-box textarea {
  height: 100px;
  margin-top: 8px;
  resize: none;
  overflow: auto;
}

.Shipping-form label {
  margin-bottom: 5px;
  font-weight: bold;
}

.Shipping-form input,
.Shipping-form select,
.Shipping-form textarea {
  padding: 8px;
  margin-left: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.tabs {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0 8px;
}

.tabs button {
  padding: 10px;
  color: black;
  cursor: pointer;
  border: 1px solid gray;
  background-color: white;
  font-size: 16px;
}

.tabs .active {
  background-color: black;
  color: white;
}

.tab-content {
  display: flex;
  align-items: center;
  margin-top: 16px;
}

.tabs-naverpay,
.tabs-kakaopay,
.tabs-account-transfer {
  margin: 0;
  padding-left: 16px;
}

.tabs-naverpay h3,
.tabs-kakaopay h3,
.tabs-account-transfer h3 {
  margin: 8px 0;
}

.tab-area {
  display: flex;
  flex-direction: column;
  gap: 8px 0;
  width: 100%;
}

.tab-area select {
  width: 18%;
  padding: 10px;
  margin-left: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: black;
}

.Purchase-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.back-button,
.Purchase-button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.back-button {
  background-color: #f2f2f2;
  color: black;
}

.Purchase-button {
  background-color: black;
  color: white;
}

@media all and (max-width: 432px) {
  .Purchase-container {
    width: 96%;
    margin: 0 8px;
    padding: 0;
  }

  .Sipping-Request-box {
    width: 80%;
  }

  .tabs {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 8px;
  }

  .tab-area select {
    width: 50%;
  }
}

@media all and (min-width: 440px) and (max-width: 1400px) {
  .Purchase-container {
    width: 96%;
  }
}
