.ReviewPage {
  padding: 0 0 16px 0;
}

.ReviewPage h3 {
  margin: 0;
}

.ReviewForm {
  margin: 16px 0;
}

.ReviewForm textarea {
  width: 100%;
  height: 80px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.ReviewForm button {
  margin-top: 8px;
  padding: 10px 20px;
  background-color: black;
  font-family: "Do Hyeon", sans-serif;
  font-size: 16px;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.ReviewList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  min-height: 64px;
}

.ReviewItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
  gap: 8px;
}

.ReviewItem-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.ReviewItem-Content {
  display: grid;
  justify-items: start;
  gap: 8px;
}

.ReviewImage {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 5px;
}

.ReviewItem-textarea {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

.ReviewActions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-left: 8px;
}

.ReviewActions svg {
  width: 24px;
  height: 24px;
}

.ReviewContent {
  margin: 0;
}

.ReviewItem-Content span {
  display: block;
  font-size: 12px;
  color: #666;
}

.ReviewItem-Edit,
.ReviewItem-Save,
.ReviewItem-Cancel {
  background-color: white;
  color: black;
  border: none;
  border-radius: 4px;
  padding: 4px 8px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.ReviewItem-Edit:hover,
.ReviewItem-Save:hover,
.ReviewItem-Cancel:hover {
  background-color: black;
  color: white;
}

.ReviewItem-Edit:disabled,
.ReviewItem-Save:disabled,
.ReviewItem-Cancel:disabled {
  background-color: white;
  cursor: not-allowed;
}

.ReviewButton-EditDelete {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0 8px;
}

.ReviewButton-EditDelete svg {
  width: 24px;
  height: 100%;
  color: black;
  transition: background-color 0.3s ease;
}

.ReviewButton-EditDelete svg:hover {
  cursor: pointer;
}
