.Sign {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 700px;
}

.Sign-Container {
  display: grid;
  justify-items: center;
  align-items: center;
  border: 1px solid lightgray;
  border-radius: 20px;
  background-color: ghostwhite;
  width: 400px;
}

.Sign-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.Sign-label {
  margin-top: 10px;
  font-family: "Do Hyeon", sans-serif;
}

.Sign-label-2 {
  margin: 0;
  font-family: "Do Hyeon", sans-serif;
}

.Sign-input {
  padding: 5px;
  margin-top: 5px;
  width: 200px;
}

button {
  margin-top: 20px;
  padding: 10px;
  background-color: #61dafb;
  border: none;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #21a1f1;
}

.Sign-area p {
  color: red;
  font-size: 12px;
  font-family: "Do Hyeon", sans-serif;
}
