.Sign {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background-color: white;
}

.Sign-Container {
  width: 1440px;
}

.Sign-nav-logo-img {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.Sign-nav-logo-img h4 {
  margin-left: 16px;
}

.Sign-nav-logo-img,
.Sign-nav-login {
  text-decoration: none;
  color: black;
}

.Sign-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 24px;
}

.Sign-body-title {
  margin: 8px 0;
}

.Sign-body-divide {
  width: 100%;
  margin: 0 0 8px 0;
}

.Sign-box {
  display: grid;
  align-items: center;
  width: 100%;
  padding: 8px 0;
  margin-bottom: 16px;
}

.Sign-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}

.Sign-label {
  padding: 8px 0 4px 0;
  font-family: "Do Hyeon", sans-serif;
}

.Sign-label-2 {
  margin: 0;
  padding: 0;
  font-family: "Do Hyeon", sans-serif;
}

.Sign-input {
  padding: 8px;
  box-sizing: border-box;
  width: 40%;
}
/* Sign-area의 가로길이가 300px로 설정했는데 input이 범위를 벗어나는 걸 width:100%와 box-sizing: border-box로 해결함. */

#Sign-phone {
  display: flex;
  justify-content: space-between;
  width: 40%;
}

#phone-input {
  width: 300px;
}

.Sign-phone-button {
  color: black;
  width: 80px;
}

.Sign-submit {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
}

.Sign-submit button {
  width: 100%;
  height: 40px;
  margin-top: 20px;
  background-color: black;
  font-family: "Do Hyeon", sans-serif;
  border: none;
  color: white;
  cursor: pointer;
}

.Sign-area p {
  color: red;
  font-size: 12px;
  font-family: "Do Hyeon", sans-serif;
}

@media all and (max-width: 432px) {
  .Sign-Container {
    width: 100%;
  }

  .Sign-body {
    padding: 0 8px;
  }

  .Sign-box {
    width: 100%;
  }

  .Sign-input {
    width: 100%;
  }

  #Sign-phone {
    width: 100%;
  }

  .Sign-submit {
    width: 100%;
  }
}

@media all and (max-width: 1200px) {
  .Sign-Container {
    width: 100%;
  }
}
