.Sign {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background-color: white;
}

.Sign-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
}

.Sign-nav-logo-img {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.Sign-nav-logo-img h4 {
  margin-left: 8px;
}

.Sign-nav-logo-img,
.Sign-nav-home {
  text-decoration: none;
  color: black;
}

.Sign-body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 40px 0;
}

.Sign-Container {
  display: grid;
  justify-items: center;
  align-items: center;
  border: 1px solid lightgray;
  border-radius: 20px;
  background-color: ghostwhite;
  width: 400px;
  padding: 80px 0;
}

.Sign-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 320px;
}

.Sign-label {
  margin-top: 10px;
  font-family: "Do Hyeon", sans-serif;
}

.Sign-label-2 {
  margin: 0;
  font-family: "Do Hyeon", sans-serif;
}

.Sign-input {
  padding: 5px;
  width: 100%;
  box-sizing: border-box;
}
/* Sign-area의 가로길이가 300px로 설정했는데 input이 범위를 벗어나는 걸 width:100%와 box-sizing: border-box로 해결함. */

#Sign-phone {
  display: flex;
  justify-content: space-between;
  width: 320px;
}

#phone-input {
  width: 224px;
}

.Sign-phone-button {
  color: black;
  width: 80px;
}

.Sign-submit {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 320px;
}

.Sign-submit button {
  width: 100%;
  height: 40px;
  margin-top: 20px;
  background-color: #21a1f1;
  border: none;
  color: white;
  cursor: pointer;
}

.Sign-submit button:hover {
  background-color: #61dafb;
}

.Sign-area p {
  color: red;
  font-size: 12px;
  font-family: "Do Hyeon", sans-serif;
}

@media all and (min-width: 281px) and (max-width: 432px) {
  .Sign-Container {
    width: 92%;
  }
}
