.WholeBean {
  background-color: white;
}

.WholeBean-title {
  text-align: center;
  font-family: "Do Hyeon", sans-serif;
}

.WholeBean-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  width: 100%;
  padding-bottom: 24px;
}

.WholeBean-area {
  border: 1px solid black;
  font-family: "Do Hyeon", sans-serif;
  margin-bottom: 24px;
}

.WholeBean-img {
  width: 300px;
  height: 300px;
}

.WholeBean-content {
  padding: 0 8px;
  margin-bottom: 8px;
}

.WholeBean-content h3 {
  margin: 8px 0;
}

.WholeBean-content p {
  margin: 8px 0;
}

.Basket-Button {
  border: 1px solid black;
  border-radius: 10px;
  background-color: black;
  color: white;
  text-align: center;
  padding: 8px 16px;
  cursor: pointer;
}

@media all and (min-width: 281px) and (max-width: 432px) {
  .WholeBean-title {
    margin: 24px 0;
  }

  .WholeBean-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
