.WholeBean {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 100%;
  min-height: 500px;
}

.WholeBean-title {
  text-align: center;
  font-family: "Do Hyeon", sans-serif;
}

.WholeBean-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 95%;
}

.WholeBean-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  width: 100%;
  gap: 0 24px;
  padding-bottom: 24px;
}

.WholeBean-area {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  font-family: "Do Hyeon", sans-serif;
  margin-bottom: 24px;
  width: 100%;
  min-height: 400px;
}

.WholeBean-img {
  width: 100%;
}

.WholeBean-content {
  padding: 0 8px;
  margin-bottom: 8px;
}

.WholeBean-content h3,
.WholeBean-content p {
  margin: 8px 0;
}

.Basket-Button {
  border: 1px solid black;
  border-radius: 10px;
  background-color: black;
  color: white;
  text-align: center;
  padding: 8px 16px;
  margin-top: 8px;
  cursor: pointer;
}

@media all and (min-width: 281px) and (max-width: 432px) {
  .WholeBean-title {
    margin: 24px 0;
  }

  .WholeBean-box {
    width: 100%;
  }

  .WholeBean-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 16px 0;
  }

  .WholeBean-area {
    width: 95%;
    padding-bottom: 8px;
  }
}
