.PostManagement {
  width: 100%;
}

.PostManagement-hr {
  margin: 16px 0 8px 0;
}

.PostManagement-title {
  text-align: center;
}

.PostManagement-box {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  padding: 0;
  margin: 8px 0;
}

.PostManagement-list {
  display: flex;
  align-items: center;
}

.PostManagement-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 8px;
}

.PostManagement-content-img-text {
  display: flex;
  align-items: center;
  margin-left: 8px;
  width: 100%;
}

.PostManagement-img {
  width: 56px;
  height: 56px;
}

.PostManagement-content-img-text p {
  margin: 0 0 0 8px;
}

.PostManagement-content-date {
  width: 30%;
  text-align: right;
}

.PostManagement-delete-button {
  background-color: #ff4d4f;
  font-family: "Do Hyeon", sans-serif;
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 8px;
}

.PostManagement-delete-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

@media all and (max-width: 432px) {
  .PostManagement-content-date {
    width: 20%;
  }
}
