@import url("https://fonts.googleapis.com/css2?family=Danfo&family=Do+Hyeon&display=swap");

body {
  margin: 0;
  background-color: black;
  width: 100%;
  box-sizing: border-box;
}

.App {
  width: 100%;
  box-sizing: border-box;
}
